# Игнорировать Python байт-коды
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
env/
venv/
ENV/
.venv/

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать настройки
settings.py

# Игнорировать базы данных
*.db